// main: style.less

@black: #2B2A2C;
@gray: #6A696B;
@gray-light: #8D8D8E;
@white: #fff;
@radius: 20px;

/* Media */

@mobileSmall: ~"(max-width: 485px)";  // Переменная для написания медиа запросов. (tablet)
@mobile698px: ~"(max-width: 698px)";
@mobileNormal: ~"(max-width: 720px)";
@mobileAvg: ~"(max-width: 797px)";  // Переменная для написания медиа запросов. (tablet)
@mobile: ~"(max-width: 808px)";  // Переменная для написания медиа запросов. (tablet)
@mobileBig: ~"(max-width: 885px)";  // Переменная для написания медиа запросов. (tablet)
@tablet: ~"(max-width: 1200px)";  // Переменная для написания медиа запросов. (laptopTab)
@laptopTwo: ~"(max-width: 1284px)";  // Переменная для написания медиа запросов. (laptopTab)
@laptopThree: ~"(max-width: 1400px)";
@laptop: ~"(max-width: 1679px)";  // Переменная для написания медиа запросов. (laptop)
