// main: ../style.less

.burger {
  display: none;
  justify-content: center;
  align-items: center;

  width: 1.6rem;
  height: 4px;
  background: @black;

  top: 13px;
  right: 12px;

  border-radius: @radius;

  position: fixed;
  z-index: 1000;

  &::before {
    position: absolute;
    top: 0.4rem;
    right: 0;

    content: "";
    width: 1.9rem;
    height: 4px;
    background: @black;

    border-radius: @radius;
  }

  &::after {
    position: absolute;
    bottom: 0.4rem;
    right: 0;
    content: "";
    width: 1.3rem;
    height: 4px;
    background: @black;

    border-radius: @radius;
  }

  @media @mobile {
    & {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.nav__burger {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 2;
  width: 1.85rem;
  height: 1.2rem;
  cursor: pointer;

  &:hover .burger {
    background: red;
  }
}

.nav__burger__back {
  display: flex;
  position: fixed;
  top: 7px;
  right: 10px;
  display: none;
}

.burger__item {
  width: 2rem;
  height: 1.4rem;
}

.burger__icon {
}

.close__turn {
  transition: all 0.7s ease;
  transform: rotate(180deg);
}

.close__turn-back {
  transition: all 0.7s ease;
  transform: rotate(-90deg);
}

.burger__turn {
  transition: all 0.5s ease;
  transform: scale(0.01);
}

.burger__turn-back {
  transition: all 0.5s ease;
  transform: scale(1);
}
