//main: ../style.css

.btn__up__header {
    display: block;
    position: fixed;
    bottom: 5.3rem;
    right: 11rem;

    transform: rotate(180deg);
    opacity: 0;
}

.btn-up-center {
    padding: 0.1rem;
}

.disp__block {
    opacity: 0;
}